table
  td.price, th.price
    text-align: right
    input
      text-align: right
  td
    div.checkbox
      margin: 0


.table-clickable
  tbody
    tr
      cursor: pointer
.table-no-border
  th, td
    border: 0 !important
